Crypto Web API/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Crypto_Web_API.Models">
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="Cryptocurrency" type="xs:string"></xs:element>
        <xs:element name="Price" type="xs:float"></xs:element>
        <xs:element name="Amount" type="xs:float"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>